box()
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	-ms-box-sizing border-box

border-radius(arguments)
	border-radius arguments
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-ms-border-radius arguments

.clear
	clear both

.box
	box()