@import 'lib'

*
	margin 0
	padding 0
	font-family 'Helvetica'



.mongo-admin
	padding-left 30px
	padding-right 30px
	display block
	height 100%


	.main-content
		width 100%
		display inline-block
		height 100%

		.top
			padding 10px
			background-color #333
			color white
			box()

		table
			width 100%
			border-collapse collapse
			min-height 90%

			td
				vertical-align top


			.left-content
				width 25%
				box()
				background-color #555
				color white
				padding 10px

				.list-menu
					width 100%
					border-radius 3px
					background-color #888
					padding 5px
					padding-left 20px
					margin-top 10px
					box()
					a
						color white

			.content
				width 75%
				background-color #888
				padding 10px
				box()

				.list-collection
					width 100%
					border-radius 3px
					background-color #666
					padding 5px
					padding-left 20px
					margin-top 10px
					box()
					a
						color white

			